
@media screen and (max-width:1600px) {
	

	
}

@media screen and (max-width:1200px) {

	.mobile-menu {
		display: block;
	}

	.desktop-menu .site-nav {
		display: none;
	}

	.site-header {
		backdrop-filter:none;
	}
	.site-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 350px;
		background: var(--black);
		transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
		transform: translateX(-100%);
		z-index: 99;
		overflow-y: auto;
	}

	.site-nav ul {
		display: block;
		padding: 100px 60px 0;
	}

	.site-nav li {
		margin: 0 0 20px;
	}

	.menu-toggle {
		display: block;
	}

	.site-nav .closed-menu {
		font-size: 40px;
		color: #fff;
		position: absolute;
		top: 25px;
		right: 15px;
		display: inline-block;
	}

	.site-nav li ul.submenu {
		position: static;
		width: 100%;
		display: none;
	}

	.site-nav li:hover ul.submenu{
		display: block;
		background: transparent;
	}	
	.toggle .site-nav {
		transform: translateX(0);
	}

	.site-logo img {
		max-width: 180px;
	}

	.site-banner {
		height: 800px;
	}

	.banner-content h1 {
		font-size: 52px;
	}

	.banner-content {
		max-width: 850px;
	}

	.section-title {
		font-size: 36px;
	}

	.sub-title {
		font-size: 26px;
		max-width: 840px;
	}


}

@media screen and (max-width:1200px) {

}

@media screen and (max-width:1024px) {


}

@media screen and (max-width:991px) {

}


@media screen and (max-width:768px) {
	
}

@media screen and (max-width:575px) {

}

