/* font-faimly  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');
/*global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
   
    --black:#0b1116;
    --theme-clr:#a08700;
    --ivory-clr:#f0efed;
    --font-primary: "Ibarra Real Nova", serif;
    --header-1-size: 40px;
    --header-1-line-height: normal;

    --h2-size: 38px;
    --h2-line-height: normal;

    --body-size: 26px;
    --body-line-height: 36px;

    --h3-size: 28px;
    --h3-line-height: 38px;

    --book-thumb-title-size: 26px;
    --book-thumb-title-line-height: normal;

    --hero-header-size: 48px;
    --hero-header-line-height: normal;

    --hero-subheader-size: 32px;
    --hero-subheader-line-height: 36px;

    --body-bold-size: 26px;
    --body-bold-line-height: 36px;
    
}
body {
    background:#fff;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    color: inherit;
}

img,
video {
    max-width: 100%;
}

span {
    display: inline-block;
}
summary {
    list-style-type: none;
}

figure{
    margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Ibarra Real Nova", serif;
}

p{
    font-family:var(--font-primary);
    font-size: var(--body-bold-size);
    line-height: var(--body-line-height);
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 60px;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
}
.grid-span-2 {
    grid-column: span 2;
}
.mobile-menu {
    display: none;
}

#main {
    border-width: 0 1px;
    position: relative;
    margin: 0 auto;
}


/* site btns */
.primary-btn {
    color: var(--black);
    transition: all 0.2s linear;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 400;
    border: 2px solid var(--theme-clr);
    padding: 7px 30px;
    line-height: normal;
    border-radius: 40px;
}

.primary-btn:hover {
    background: var(--black);
    color: var(--theme-clr);
}

.secondary-btn {
    color: #fff;
    transition: all 0.2s linear;
    position: relative;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 300;
    padding: 0 5px;
}
.secondary-btn:hover {
    color: var(--theme-clr);
}

.secondary-btn::before {
    content: "";
    background: var(--theme-clr);
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.secondary-btn:hover::before {
    opacity: 1;
}
/* site btns  */
/*header start*/
.site-header {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}

.site-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    max-width: 1490px;
}
/* .desktop-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 100px;
    align-items: center;
}

li.site-logo.desktop-logo {
    width: 300px;
    text-align: center;
} */
.site-logo a {
    max-width: 360px;
}

.site-logo img {
    width: 100%;
}
.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.site-nav li{
    position: relative;
}
.site-nav li a {
    color: #FFF;
    position: relative;
    transition: all 0.2s linear;
    font-family: 'Montserrat';
    line-height: normal;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.15em;
    font-weight: 500;
}
.site-nav li a:hover {
    color: var(--theme-clr);
}

.site-nav li a.active {
    color: var(--theme-clr);
}

.site-nav li a.secondary-btn {
    padding: 18px 24px;
    font-size: 18px;
}

.site-nav li ul.submenu {
    display: block;
    position: absolute;
    width: max-content;
    padding: 20px;
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(255 255 255 /20%);
    top: calc(100% + 60px);
    left: 0;
    transition: all 0.2s linear;
    opacity: 0;
    visibility: hidden;
}

.site-nav li:hover ul.submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.menu-toggle{
    display: none;
}

.menu-toggle .bar-1, .bar-2, .bar-3 {
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: all 0.3s linear;
    display: block;
}

.closed-menu{
    display: none;
}
.site-nav .closed-menu a {
    font: inherit;
}


.lang-menu li {
padding: 8px 12px;
cursor: pointer;
text-transform: uppercase;
}

.lang-menu li:hover {
    color: var(--theme-clr);
}

  
/* langauge dropdown end  */

/*header end*/ 
/* site banner start  */
.site-banner {
    position: relative;
    isolation: isolate;
    padding: 287px 0 190px;
}

.site-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.75) 42.70833432674408%,
    rgba(0, 0, 0, 0) 100%
  );
    transform: scale(-1);
}

.site-banner .banner-img {
    position: absolute;
    inset: 0;
    z-index: -1;
}
.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.site-banner .container {
    height: 100%;
    position: relative;
    z-index: 1;
}
.site-banner-warp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.banner-content h1 {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    line-height: normal;
}

.banner-content p {
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 500;
    margin-bottom: 20px;
    font-size: var(--hero-subheader-size);
    line-height: var(--hero-header-line-height);
}

/* story section start  */
.story-section {
    background: var(--ivory-clr);
    margin: auto;
    padding: 100px 0;
}

.story-inner {
    text-align: center;
    padding: 60px 0;
}

.section-title {
    font-size: var(--h2-size);
    font-weight: 700;
    color: var(--black);
    line-height: var(--h2-line-height);
    margin-bottom: 20px;
}

.section-subtitle {
    color: var(--black);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: var(--body-bold-size);
    line-height: var(--body-line-height);
    margin: 0;
}

.learn-more {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin: 20px 0;
}

.learn-more span {
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: var(--black);
    text-transform: uppercase;
}

.learn-more svg{
    transition:0.3s ease;
}

.learn-more.active svg{
    transform:rotate(180deg);
}

.hidden-content {
    display: none;
    text-align: left;
    padding: 40px 60px;
    border: 2px solid var(--theme-clr);
    border-width: 2px 0;
}


.hidden-content p {
    color: var(--black);
    font-family: var(--font-primary);
    margin: 0;
    font-weight: 600;
}
.hidden-content p:not(:last-child) {
    margin-bottom: 40px;
}

/* story section end  */

.bg-with-text {
    position: relative;
    padding: 170px 0;
    isolation: isolate;
}

.bg-with-text .bg-img {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.bg-img::before {
    content: "";
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    position: absolute;
    inset: 0;
}

.bg-with-text .bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-with-text .section-title {
    color: #fff;
}

.bg-with-text .section-subtitle {
    color: #fff;
}

.bg-with-text .learn-more span {
    color: #fff;
}

.bg-with-text .hidden-content p {
    color: #fff;
}

/* our collection page start  */

.our-collections {
    padding: 150px 0;
}

.collection-slider {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}
.our-collections .section-title {
    text-align: center;
    margin-bottom: 30px;
}

.book-card img {
    width: 100%;
}

.view-all {
    text-align: center;
}

.view-all .secondary-btn {
    color: var(--black);
    padding: 0 10px;
}

.collection-slider .swiper-button-prev, .collection-slider .swiper-button-next {
    display: block;
}

.collection-slider .swiper-button-prev::after, .collection-slider .swiper-button-next::after {
    opacity: 0;
    visibility: hidden;
}

.collection-slider .swiper-button-prev {
    left: -120px;
}

.collection-slider .swiper-button-next {
    right: -120px;
}

body .swiper-pagination {
    position: static;
    margin: 30px 0;
    line-height: 0;
}

body .swiper-pagination .swiper-pagination-bullet {
    background: #d9d9d9;
    opacity: 0.5;
    width: 12px;
    height: 12px;
}
body .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--theme-clr);
    opacity: 1;
}
/* our collection page end  */

/* connection-story start  */
.connection-story {
    background: var(--ivory-clr);
    padding: 60px 0;
}
.connection-story-wrap {
    display: grid;
    gap: 10px;
}
.connection-story-list {
    text-align: center;
    padding: 60px 0;
}

/* connection-story end  */
/* testimonials start  */

.testimonials {
    background: var(--black);
    padding: 120px 0;
}

.testimonial-card {
    text-align: center;
    color: #fff;
}

.testimonial-card p {
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    font-family: var(--font-primary);
    margin-bottom: 40px;
}

.testimonial-card-img {
    margin-bottom: 30px;
}
.testimonial-card h4 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    font-family: var(--font-primary);
    margin-bottom: 40px;
}
/* testimonials end  */

/* cst-img-with-text start  */

.cst-img-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 64px;
    gap: 49px;
    width: 100%;
    max-width: 640px;
    margin-left: auto;
}

.cst-img-content h4 {
    font-size: var(--h2-size);
    line-height: var(--h2-line-height);
    font-weight: 700;
}

.cst-img-content p {
    margin: 0;
    font-weight: 600;
}



/* cst-img-with-text end  */


/* footer start  */
.site-footer {
    background: var(--black);
    padding: 78px 0;
    color: #fff;
}

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 64px;
}

.social-icons ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: end;
}

.social-icons li a {
    transition: all 0.2s linear;
    font-size: 30px;
    color: var(--ivory-clr);
    opacity: 0.5;
}

.social-icons li a:hover {
    color: var(--theme-clr);
    border-color: var(--theme-clr);
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    position: relative;
}

.footer-top::after {
    content: "";
    position: absolute;
    height: 100%;
    background: var(--ivory-clr);
    width: 2px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.25;
}

.site-footer p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    line-height: 1.4;
}
.social-icons {
    margin-left: auto;
    margin-right: auto;
}

.footer-bottom p {
    max-width: 190px;
    font-weight: 400;
}
/* footer end  */