/* font-faimly  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
   
    --black:#1A1A1A;
    --theme-clr:#f4cd6a;
    --gray:#E8E8E8;
    --helvetica:'Helvetica';
    
}
body {
    font-family:var(--helvetica);
    color: #fff;
    background: var(--black);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    color: inherit;
}

img,
video {
    max-width: 100%;
}

span {
    display: inline-block;
}
summary {
    list-style-type: none;
}

figure{
    margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

p{
    color:#fff;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 25.2px */
}
.container {
    width: 100%;
    /* max-width: 1743px; */
    max-width: calc(100% - 196px);
    margin: 0 auto;
    padding: 0;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
}
.grid-span-2 {
    grid-column: span 2;
}
.mobile-menu {
    display: none;
}

#main {
    border-width: 0 1px;
    position: relative;
    margin: 0 auto;
}


/* site btns */
.primary-btn {
    padding: 24px 55px;
    color: #fff;
    background: var(--theme-clr);
    border: 1px solid var(--theme-clr);
    font-size: 18px;
    line-height: 20px;
    font-family: Helvetica;
    font-weight: 300;
    transition: all 0.2s linear;
}
.primary-btn:hover {
    background: var(--black);
    color: var(--theme-clr);
}

.secondary-btn {
    padding: 24px 32px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    color: #fff;
    transition: all 0.3s linear;
    position: relative;
}
.secondary-btn:hover {
    border: 1px solid var(--theme-clr);
    background: rgba(245, 242, 170, 0.10);
    background: transparent;
    color: var(--theme-clr);
}

.secondary-btn::before {
    content: "";
    background: rgba(245, 242, 170, 0.10);
    box-shadow: 0px -12px 24px 0px rgba(186, 115, 0, 0.25) inset;
    background: linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all 0.3s linear;
}
.secondary-btn:hover::before {
    opacity: 1;
}
/* site btns  */
/*header start*/
.site-header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(20px);
}

.site-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(255 255 255 /20%);
    max-width: 100%;
}
.desktop-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 100px;
    align-items: center;
}

li.site-logo.desktop-logo {
    width: 300px;
    text-align: center;
}
.site-logo img {
    max-width: 220px;
}

.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.site-nav li{
    position: relative;
}
.site-nav li a {
    color: #FFF;
    position: relative;
    transition: all 0.2s linear;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    padding: 10px;
    text-transform: capitalize;
}
.site-nav li a:hover {
    color: var(--theme-clr);
}

.site-nav li a.active {
    color: var(--theme-clr);
}

.site-nav li a.secondary-btn {
    padding: 18px 24px;
    font-size: 18px;
}

.site-nav li ul.submenu {
    display: block;
    position: absolute;
    width: max-content;
    padding: 20px;
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(255 255 255 /20%);
    top: calc(100% + 60px);
    left: 0;
    transition: all 0.2s linear;
    opacity: 0;
    visibility: hidden;
}

.site-nav li:hover ul.submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.menu-toggle{
    display: none;
}

.menu-toggle .bar-1, .bar-2, .bar-3 {
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: all 0.3s linear;
    display: block;
}

.closed-menu{
    display: none;
}
.site-nav .closed-menu a {
    font: inherit;
}
/*header end*/ 
.section-title {
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 24px;
}
span.highlight {
    color: var(--orange);
}
.sub-title {
    color: #fff;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
    max-width: 1020px;
    margin: 0;
}
/* site banner start  */
.site-banner {
    position: relative;
    isolation: isolate;
    height: 1080px;
    /* width: calc(100% + 192px);
    margin-left: -96px; */

}
.site-banner::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 55%);
}
.site-banner .banner-img {
    position: absolute;
    inset: 0;
    z-index: -1;
}
.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.site-banner .container {
    height: 100%;
    position: relative;
    z-index: 1;
}
.site-banner-warp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.banner-curve-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.banner-video {
    height: 100%;
}

.banner-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-content {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1275px;
    padding: 0 10px;
}
.banner-content h1 {
    color: #FFF;
    font-size: 86px;
    font-weight: 400;
    line-height: normal;
    text-wrap: balance;
    margin: 0 0 44px;
}
.banner-content p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 40px;
}
.banner-overlay-shape {
    width: 100%;
    height:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 100%);
}
/* site banner end */
.back-to-bottom {
    background: transparent;
    color: #fff;
    border: 0;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: 155px;
    bottom: 20px;
    z-index: 1;
    font-size: 18px;
    font-family: 'Helvetica';
}
.fixed-slide-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 98px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    margin-top: auto;
}

.fixed-slide-bar .social-icon li a {
    color: #fff;
    font-size: 20px;
    transition: all 0.2s linear;
}
.fixed-slide-bar .social-icon li a:hover {
    color: var(--theme-clr);
}
.social-icon li:not(:last-child) {
    margin-bottom: 84px;
}

.back-to-top {
    margin-top: auto;
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 25px;
    transition: all 0.2s linear;
    margin-bottom: 20px;
    opacity: 0;
}
.back-to-top.show {
    opacity: 1;
}

.back-to-top:hover {
    color: var(--theme-clr);
}



.featured-listing {
    background: var(--black);
    position: relative;
}


.featured-listing-warp {
    margin-top: 70px;
}
.listing-slider-main {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
}

.listing-card {
    background: transparent;
    width: calc(100% / 3 - 24px);
    border: 1px solid #ffffff40;
}

.listing-card-header {
    padding: 44px 44px 24px;
}
.listing-card-showcase {
    position: relative;
}
.listing-card-img {
    overflow: hidden;
    height: 270px;
    position: absolute;
    inset: 0;
    z-index: 1;
    transition: all 0.2s linear;
}
.listing-card-showcase:hover .listing-card-img {
    opacity: 0;
    visibility: hidden;
}
.listing-card-img img {
    transition: all 0.2s linear;
    transform-origin: bottom;
}
.listing-card:hover .listing-card-img img {
    transform: scale(1.2);
}

.listing-card-showcase:hover .listing-card-img img {
    transform: scale(1);
}
.listing-card-header span {
    color: var(--theme-clr);
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 6px;
    text-transform: capitalize;
}
.listing-card-header p {
    overflow: hidden;
    color:#fff;
    text-overflow: ellipsis;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0;
}
.listing-card-content {
    padding: 44px 32px;
}

.listing-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.listing-card-content li:not(:last-child) {
    margin-bottom: 12px;
}
.listing-card-content li {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    display: flex;
    align-items: center;
    gap: 12px;
}
.listing-card-content li i {
   color: var(--theme-clr);
}

.listing-card-footer {
    padding: 14px 44px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff40;
    position: relative;
    isolation: isolate;
}
.listing-card-footer::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: all 0.2s linear;
    background: linear-gradient(85deg, #F1DE83 -75.3%, #A87934 100.82%);
    opacity: 0;
}

.listing-card:hover .listing-card-footer::before {
    opacity: 1;
}
.unit-info {
    color: rgb(26 26 26 / 50%);
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    transition: all 0.2s linear;
}

.unit-info span {
    color: #fff;
}

.unit-info span:first-child {
    margin-right: 12px;
    position: relative;
    padding-right: 12px;
}
.unit-info span:first-child::after {
    content: "";
    position: absolute;
    background: var(--gray);
    height: 20px;
    width: 1px;
    right: 0;
}
.listing-card:hover .unit-info {
    color: #fff;
}
.read-more {
    color:#fff;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    transition: all 0.2s linear;
}
.read-more i {
    margin-left: 10px;
}

.listing-card:hover .read-more {
    color: #fff;
}

.showcase-slider-item {
    overflow: hidden;
    height: 270px;
}
.showcase-slider-item::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 69.5%, rgba(0, 0, 0, 0.50) 100%);
    inset: 0;
}
.showcase-slider .swiper-button-prev, .showcase-slider .swiper-button-next {
    color: #fff;
}

.showcase-slider .swiper-pagination .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
}
.showcase-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}
.listing-slider .swiper-wrapper .swiper-slide {
    height: auto;
}
.explore-more-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.2s linear;
}

.explore-more-slide:hover {
    border: 2px solid var(--theme-clr);
    background: rgba(245, 242, 170, 0.10);
    box-shadow: 0px -12px 24px 0px rgba(186, 115, 0, 0.25) inset;
}

.explore-more-slide a {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
}

.explore-more-slide a i {
    margin-left: 10px;
}

.explore-more-slide:hover a {
    background: var(--Gold, linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.track-record {
    background: var(--black);
    position: relative;
}
.track-record-wrap {
    background: #fff;
}
.track-record-content {
    padding: 110px 70px;
}
.track-record-wrap > .grid {
    grid-template-columns: 2fr 1fr;
}
.track-record-card-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.track-record-card {
    padding: 25px 75px;
    border: 1px solid var(--gray);
}
.track-record-card:first-child {
    border-width: 0 0 0 1px;
}
.track-record-card:nth-child(2) {
    border-width: 0 1px 0 1px;
}
.track-record-card:nth-child(3) {
    border-width: 1px 0 0 1px;
}
.track-record-card:nth-child(4) {
    border-bottom: 0;
}
.track-record-content h5 {
    color: #1A1A1A;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 47px 80px;
}

.track-record-card h4 {
    background: linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 12px;
}

.coommercail-sales {
    position: relative;
    height: 100%;
    margin-right: 60px;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commercial-sale-bg {
    height: 100%;
    width: 100%;
}
.commercial-sale-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commercial-sale-content {
    background: #fff;
    padding: 80px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 280px;
    text-align: center;
}
.commercial-sale-content p {
    text-align: left;
}
.commercial-sale-content h3 {
    background: linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 180px;
  
}

/* why styling start */

.why_us {
    background: var(--black);
    padding: 80px 0;
}
.why_us .grid {
    gap: 24px;
}

.why_us .section-title {
    max-width: 450px;
}

.why_us .sub-title {
    margin-bottom: 30px;
}

.why-us-card-wrap .grid {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.why-us-card-wrap .grid .item:last-child {
    grid-column: 1/-1;
}

.why_head .section-title {
    color: var(--black);
    margin-bottom: 44px;
}

.why_box {
    background: #F6F6F6;
    padding: 44px;
    height: 100%;
}

.why_box > span {
    width: 84px;
    height: 84px;
    border: 1px solid var(--theme-clr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-clr);
    font-size: 50px;
}

.why_box h3 {
    font-size: 32px;
    line-height:140%;
    font-family: Helvetica;
    color: var(--black);
    font-weight: 300;
    margin: 44px 0 24px;
}

.why_box p {
    font-size: 24px;
    line-height: 140%;
    font-family: Helvetica;
    color: var(--black);
    font-weight: 300;
    margin: 0;
}


/* why styling start */

/* blog section start  */
/* blog-sec start  */
.blog-sec {
    padding: 80px 0;
}

.blog-card-wrap {
    margin-top: 40px;
}

.blog-sec .section-title {
    text-align: center;
}

.blog-sec .sub-title {
    margin: 0 auto;
    text-align: center;
}

.blog-card-wrap .grid {
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}
.load-more {
    text-align: center;
    margin-top: 40px;
}

.blog-card {
    transition: all 0.2s linear;
    border: 1px solid #ffffff40;
}

.blog-image {
    height: 240px;
    width: 100%;
    overflow: hidden;
}

.blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.blog-card:hover .blog-image img {
    transform: scale(1.2);
}
.blog-content {
    border-radius: inherit;
    padding: 35px;
}

.blog-content p {
    color:#fff;
    font-size: 18px;
    font-weight: 400;
    margin:25px 0;
}

.blog-date {
    display: flex;
    align-items: center;
    gap: 12px;
}

.blog-date span {
    font-size: 14px;
    font-weight: 600;
    color:#fff;
    line-height: 1;
}

.blog-content > a {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    color: var(--theme-clr);
}
/* blog section end  */

/* faq start  */
.faq {
    background: #f2f2f2;
    padding: 80px 0;
}
.faq .section-title {
    color: var(--black);
    text-align: center;
}

.faq-wrap .grid {
    grid-gap: 80px;
}
.accrodtion-card .accordion * {
    background: transparent;
}

.accrodtion-card .accordion .accordion-button {
    color: var(--black);
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
    padding: 24px 0;
}

.accrodtion-card .accordion  .accordion-body {
    color:var(--black);
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
}


.accrodtion-card .accordion .accordion-button:focus {
    box-shadow: none;
}


.accrodtion-card .accordion-item {
    border-bottom: 2px solid var(--gray);
}

.accrodtion-card .accordion-item:last-child {
    border-bottom: 2px solid var(--gray);
}

.accrodtion-card .accordion .accordion-button::after {
    background-image: none;
    content: "\ea4c";
    font-family: 'remixicon';
    height: auto;
    margin-right: 5px;
}

/* faq end  */

/* pagination start  */
.pagination-main {
    width: 100%;
    background: #fff;
    margin: 0 0 64px;
}

.pagination {
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--gray);
    padding-top: 52px;
    padding-bottom: 84px;
}
.pagination ul {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.pagination ul a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    aspect-ratio: 1;
    border: 1px solid var(--gray);
    transition: all 0.2s linear;
    background: #fff;
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.pagination ul a.active, .pagination ul a:hover {
    background:#f6f6f6;
}
.pagination button {
    background:#FFF;
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    transition: all 0.2s linear;
    border: 1px solid var(--gray);
    width: 45px;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.pagination button:hover {
    background: var(--gray);
    border-color: var(--gray);
}

.pagination button.disable {
    background: #f6f6f6;
}
.pagination button.disable i{
    opacity: 0.5;
}
/* pagination start  */
/* breadcrumb start  */
.breadcrumb-main .breadcrumb {
    margin: 0 0 12px;
}

.breadcrumb .breadcrumb-item {
    color: var(--theme-clr);
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.breadcrumb .breadcrumb-item+.breadcrumb-item {
    padding-left: 12px;
}
.breadcrumb .breadcrumb-item::before {
    color: var(--theme-clr);
    padding-right: 12px;
}
/* breadcrumb end  */


.breadcrumb-main {
max-width: 813px;
margin: 0 auto;
padding-top: 72px;
padding-left: 10px;
padding-right: 10px;
}

.breadcrumb-center a {
color: #BF9455;
text-align: center;
font-size: 24px;
font-weight: 400;
line-height: 27px;
padding: 0 5px;
display: inline-block;
}

.breadcrumb-center {
    text-align: center;
}

.banner-bread a {
color: #BF9455;
font-size: 24px;
font-weight: 400;
}

.banner-bread a:not(:last-child)::after {
    content: "/";
    margin-left: 12px;
    margin-right: 12px;
}

/* popular-areas start  */
.popular-areas {
    padding: 120px 0;
}
.popular-areas-warp {
    margin-top: 40px;
}
.popular-areas-warp .grid {
    grid-gap: 34px;
}
.popular-area-card {
    /* border: 1px solid #ffffff40; */
    position: relative;
}

.popular-area-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.popular-card-content {
    backdrop-filter: blur(20px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    background: rgba(0 0 0 /20%);
    padding: 20px 0;
}

.popular-card-content h4 {
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #ffffff40;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.popular-card-content span {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

/* popular-areas end  */
/* footer start  */
.site-footer {
    padding: 84px 0 44px;
    background: var(--black);
    color: #fff;
}

.footer-logo p {
    color: #fff;
    margin-top: 20px;
}
.footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.footer-top h4 {
    font-size: 22px;
    margin-bottom: 40px;
}
.footer-links {
    padding-left: 120px;
}
.footer-links li a, .footer-contact li {
    color: #ffffffdb;
    font-size: 22px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: -0.24px;
    margin-bottom: 15px;
    transition: all 0.2s linear;
}

.footer-links li a:hover, .footer-contact li:hover{
    color:var(--theme-clr);
}
.footer-contact li i {
    margin-right: 10px;
}
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    border-top: 1px solid rgb(255 255 255 / 10%);
    padding-top: 55px;
    margin-top: 55px;
}

.footer-bottom p {
    color: #fff;
}

.social-icons ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: end;
}

.social-icons li a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.30);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: all 0.2s linear;
}

.social-icons li a:hover {
    color: var(--theme-clr);
    border-color: var(--theme-clr);
}